section{
    width: 1450px;
    margin: 80px auto;
}

.title{
    text-align: center;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.col{
    box-shadow: 0px 0px 10px darkgray;
    margin: 0px 20px;

}

.row{
    display: flex;
    font-size: 30px;
    width: 100%;
    justify-content: space-between;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row{
    margin-top: 50px;
}

h4{
    margin: 20px 35px auto;
    margin-right: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    color: rgb(33, 31, 31);
    padding: 0 40px;
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.col .ctn{
    margin-right: 240px;
}

.ctn{
    padding: 10px 30px ;
    background-color: #6AB7BD;
    color: aliceblue;
    margin-bottom: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.col img{
    width: 470px;
    height: 300px;
}
body, html{
    overflow-x: hidden;
}